.assign-1-shape-1{
    width: 500px;
    color: #fff;
    background-color: rgb(134, 38, 225);
    background-color: #9b38ec;
    background-color: blueviolet;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 200px;
}
.assign-1-shape-2{
    width: 500px;
    color: #fff;
    background-color: rgb(134, 38, 225, 50%);
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 200px;
}
.assign-1-shape-3{
    width: 500px;
    color: #fff;
    background-color: rgb(134, 38, 225, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 200px;  
}
